.member-section{
    justify-content: center;
    p{
        text-align: justify;
        font-size: 17px;
        font-family: Arial, sans-serif !important;
    }
}

.text{
    font-size:14px;
}
.bank-info-details{
    font-size:10px;
     

}
.bank-info-details>td{
    font-family: Arial, sans-serif !important;
}