form{
    background-color: #ebebeb;
}
.form-check{
    cursor: pointer;
}
.form-check-input[type=checkbox]{
    width: 1.5rem !important;
    height: 1.5em !important;
    margin-top: 0px !important;
    margin-right: 10px !important;
    border-radius: 0;
}