@import '../../components/commonScss/common';
.officeInfo {
  .location_icons {
    font-size: 60px;
    padding-bottom: 10px;
    display: flex;
    margin: 0 auto;
    color: $Light-blue;
    
  }
  span{
    font-family: sans-serif !important;
  }
}
.contactInfo {
  .location_details{
    text-align: center;
    padding-top: 15px;
  }
  .location_icons {
    font-size: 60px;
    padding-bottom: 10px;
    display: flex;
    margin: 0 auto;
    color: $Light-blue;
  }
}
.form_bg{
  background-color: #ebebeb;
  input{
    font-family: sans-serif !important;
  }

}
.contact_details{

.contact_image{
  width: 100%;
}
}
.phoneNumber{
  font-family: sans-serif !important;
}