@import '../../components/commonScss/common';
.officeInfo {
  .location_icons {
    font-size: 60px;
    padding-bottom: 10px;
    display: flex;
    margin: 0 auto;
    color: $Light-blue;
    
  }
  span{
    font-family: sans-serif !important;
  }
}
.contactInfo {
  .location_details{
    text-align: center;
    padding-top: 15px;
  }
  .location_icons {
    font-size: 60px;
    padding-bottom: 10px;
    display: flex;
    margin: 0 auto;
    color: $Light-blue;
  }
}
.form_bg{
  background-color: #ebebeb;
  display: flex;
  flex-direction: row;

  input{
    font-family: sans-serif !important;
  }

}
.contact_details{

.contact_image{
  width: 100%;
}
}
.phoneNumber{
  font-family: sans-serif !important;
}
.headerFont{
  font-family:sans-serif !important
}
.font15{
  font-size: 15px;
}
.paddRight103{
  padding-right: 103px;
}

.insta{
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}
.yout{
  background-color: #FF0000;
  // font-size: 50px;
  text-decoration: none;
  // transition: transform 0.3s ease;
}
.linked{
  background-color: #0A66C2;
  text-decoration: none;
}

.twitt{
  background-color: #1DA1F2;
  text-decoration: none;
}

.facebookIcon {
  background-color: #1877F2;
  text-decoration: none;
}