.logo{
    width: 110px;
    padding-right: 10px;
    height: 65px;
}
.header-bg{
  background-color:#e0e2e4;
}
.is_active{
  color: black;
  border: 1px solid #006cb5;
}
.nav-link{
  font-size: 14px;
}

.headerLink{
    font-family: "Raleway",sans-serif;
    font-style: normal;
    font-weight: 600 !important;
    letter-spacing: 0.061em;
    font-size: 12px !important;
    color: #002f63 !important;
    padding-top:14px !important;
}

@media screen and (max-width: 800px) {
  .logo {
    width: 65px;
  }
}