@import "../../components/commonScss/common";
.helt_container {
  img {
    width: 100%;
  }

  .helt_container_text {
    max-width: 1200px;
    margin: 0 auto;

    h1 {
      text-align: center;
      margin-top: 20px;
    }

    .from_details {
      list-style-type: none;
      margin-top: 20px;

      a {
        text-decoration: none;
        margin-right: 20px;
        border: 2px solid rebeccapurple;
        padding: 9px 30px;
        color: $Light-gray;

        &:hover {
          color: $Black-color;
          background-color: $Dark-background;
        }
      }
    }
  }
}
.checkbox {
  height: 25px;
  width: 25px;
  border-radius: 0;
  border: 1px solid;
  margin-right: 11px;
}

