.check-circle-icon {
  font-size: 50px;
  background-color: green;
  border-radius: 30px;
  color: white;
}
.back-btn {
  font-size: 16px;
  color: white;
  background-color: blue;
  text-align: center;
  padding: 10px;
}

.error-container{
  margin: 1.5rem;
  background-color: #426380;
  border-radius: 0.5rem ;
  padding: 1.5rem;

  h1{
    text-align: center;
    color: white;
  }
  p{
    text-align: center;
    color: white;
  }
  .error-back-buttom{
    justify-content: space-around;
    margin: 1.5rem;
    Button{
      padding: 8px;
      background-color: #0986f4;
    }
  }
}