.check-circle-icon {
  font-size: 50px;
  background-color: green;
  border-radius: 30px;
  color: white;
}
.back-btn {
  font-size: 16px;
  color: white;
  background-color: blue;
  text-align: center;
  padding: 10px;
}
