.container {
    text-align: center;
    width: 210mm;
    /* A4 width in millimeters */
    height: 297mm;
    /* A4 height in millimeters */
    margin: auto;
    position: relative;
}

.certificate {
    position: relative;
    width: 100%;
    height: auto;
    max-height: 90%;
    page-break-inside: avoid;
    margin-bottom: 0;
}

.membershipNumber {
    position: absolute;
    top: 5.2%;
    left: 21%;
    font-family: sans-serif !important;
    font-size: 12px;
}

.name {
    position: absolute;
    font-size: 25px;
    font-weight: bold;
    top: 49.5%;
    left: 40%;
    font-family: sans-serif !important;
    text-transform: capitalize;
}

.date {
    font-weight: bold;
    top: 70%;
    position: absolute;
    font-size: 23px;
    left: 19%;
    font-family: sans-serif !important;
}

.print {
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 12px;
    border: none;
    width: 67px;
    background: black;
    color: white;
}
@page{

}
@media print {
    .container {
        height: 100%;
        width: 100%;
    }

    body {
        font-size: 14pt;
    }

    .date {
        top: 79%;
        left: 23%;
        font-size: 15px;
    }

    .name {
        top: 56.2%;
        font-size: 20px;
    }

    .membershipNumber {
        font-size: 8px;
        top: 6.3%;
        left: 21%;
    }

    /* Hide header and footer in print mode */
    header,.print,
    footer {
        display: none;
    }
}