.container{
    text-align: center;
    width: 210mm; /* A4 width in millimeters */
    height: 297mm; /* A4 height in millimeters */
    margin: auto;
    position: relative;
}
.certificate{
    position:relative;
    width: 100%;
    height: auto;
    max-height: 90%;
    page-break-inside: avoid;
}
.membershipNumber{
    position: absolute;
    font-weight: 700;
    // top: 6.5%;
    top:5%;
    right: 6%;
}
.name{
    position: absolute;
    font-size: 30px;
    font-weight: bold;
    // top: 57%;
    top: 50%;
    left: 42%;
}
.date{
    font-weight: bold;
    // top: 84%;
    top:74%;
    position: absolute;
    font-size: 23px;
    left: 28%;
}
.print{
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 12px;
    border: none;
    width: 67px;
    background: black;
    color: white;
}
@media print {
    /* Styles for printing */
    .container {
        page-break-after: avoid; /* Prevent page breaks after the container */
        page-break-inside: avoid; /* Ensure no page breaks within the container */
    }
    body {
      font-size: 14pt;
    }
    .date{
        // top: 82%;
        top:76%;
        left: 27%;
        font-size: 12px;
    }
    .name{
        top: 51%;
      font-size: 15px;
    }
    .membershipNumber{
        right:7%;
        font-size: 8px;
    }
    /* Hide header and footer in print mode */
    header, footer {
      display: none;

    }
  }
  




