$Black-color:black;
$Color-White:white;
$Background-white:white;
$Dark-blue: rgb(49, 137, 137);
$Light-blue:#273b52;
$Black-color:#000;
$Dark-background:rgb(86, 82, 81);
$Light-gray:rgb(80, 99, 99);
$Gray-color:gray;
$Font-family-Raleway:"Raleway", sans-serif;
$Text-align-center:center;
$justify-content-center:center;
$Font-text-size:16px