@import '../../commonScss/common';
.link{
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  color: $Color-White;
}
.font_size_14{
  font-size: 14px;
  text-align: justify;
}
.contact_details{
  text-align: justify;
}
.use_usfull_link{
  font-weight: bold;
margin-bottom:1.5rem;
text-transform: uppercase;
}
.contact_details{
  font-size: 14px;
  font-family: sans-serif !important;
}
.footer_container{
  text-align: center;
  color: white;
  text-align: left;
  background-color:#1678bb;
}


.headerFont{
  font-family:sans-serif !important
}

.insta{
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}
.yout{
  background-color: #FF0000;
  // font-size: 50px;
  text-decoration: none;
  // transition: transform 0.3s ease;
}
.linked{
  background-color: #0A66C2;
  text-decoration: none;
}

.twitt{
  background-color: #1DA1F2;
  text-decoration: none;
}

.facebookIcon {
  background-color: #1877F2;
  text-decoration: none;
}