@import '../../commonScss/common';
.link{
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  color: $Color-White;
}
.font_size_14{
  font-size: 14px;
  text-align: justify;
}
.contact_details{
  text-align: justify;
}
.use_usfull_link{
  font-weight: bold;
margin-bottom:1.5rem;
text-transform: uppercase;
}
.contact_details{
  font-size: 14px;
  font-family: sans-serif !important;
}
.footer_container{
  text-align: center;
  color: white;
  text-align: left;
  background-color:#1678bb;
}

